/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique RamÃ­rez
	Autor URI: http://enrique-ramirez.com
*/

/* 
	Koloreak
	#013E75: urdin iluna
	#1DA0D8: erdiko urdina
	#4BC4F1: urdin lausoa
	#FFFDF8: txuria
*/ 
/* Imports */
@import url("reset.css");
@import url("global-forms.css");

/***** Global *****/
/* Body */
	body {
		background-color: #E0E0E0;
		color: #000305;
		font-size: 16px; /* Base font size: 14px */
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}
	
/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
	
/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, article, figure {
	display: block;
}
nav {
	display:inline-block;
	font-size: 1.5em;
}

/***** Layout *****/
.body {
	clear: both; 
	margin: 0 auto;
}
img.right, figure.right {
	float: right; 
	margin: 0 0 2em 2em;
}
img.left, figure.left {
	float: left; 
	margin: 0 1em 0.5em 0;
	width: 200px;
	height: 150px;
}
.left {
	float: left;
}
.right {
	float: right;
}

/*
	Header
*****************/
#banner {
	background-color: #013E74;
 	background: -moz-linear-gradient(top, #013E74 , #025FB1);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#013E74),  to(#025FB1));
	width: 100%;
	
	/*padding: 2.5em 0 0 0;*/
	/*margin: 0 auto;*/
}

	/* Banner */
	#banner h1 {
		display: inline-block;
		padding: 0 2em;
		margin-right: 7em;
		margin-top: 0.5em;
	}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: inline-block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		/*width: 427px;*/
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		/*background: #000305;*/
		/*font-size: 1.143em;*/
		/*height: 40px;*/
		/*line-height: 30px;*/
		/*margin: 0 auto 2em auto;*/
		/*padding: 0;*/
		/*text-align: center;*/
		/*width: 800px;*/
		
		/*border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;*/
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; /*width: 800px;*/}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 0.5em;
		text-decoration: none;
		margin-right: 3.5em;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		/*background: #C74451;*/
		text-shadow: 0.2em 0.2em #013E75;
		/*text-shadow: none !important;*/
	}
	
	#banner nav li:first-child a {
		/*border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;*/
	}

	/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	/* Clear floats */
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:right;
	position:relative;
	margin-right: 50px;
}
#nav a{
	display:block;
	padding:5px;
	color:#fff;
	/*background:#333;*/
	text-decoration:none;
}
#nav a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	z-index:1;
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#6b0c36;
	text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}

#lang {
	margin-left: 87%;
	margin-top: -60px;
	margin-bottom:-50px;
	font-size: 1.5em;
}

#serch {
	margin-left: 70%;
	margin-top: 7px;
	margin-bottom:-50px;
	font-size: 1.5em;
}
#lang ul li{
	list-style-type: none;
	display: inline;
}

#lang ul li a {
	text-decoration: none;
}
/*
	Featured
*****************/
#featured {
	
	/*border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
	
	/*margin: 0 auto;*/
	/*padding: 20px;*/
}

/*#featured-article:hover {
	background: #6DBAFE;
featured

#}*/ 
section {
	border: 2px solid #eee;
	float: left;
	margin: 1em 0.5em;
	padding: 0.5em 0.5em;
	/*margin: 0.7em 0.5em 0 5em;*/
	/*width: 30%;*/

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured-section article p {
	margin: 0.7em 0.5em;
	/*display: right;*/
	/*float: right;*/
}

#featured-section {
	width:70%;
	background: #fff;
	overflow: hidden;

	-moz-box-shadow: 0.2em 0.2em 0.1em #888;
	-webkit-box-shadow: 0.2em 0.2em 0.1em #888;
	box-shadow: 0.2em 0.2em 0.1em #888;	
}

#featured-section h2 {
	color: #013E75;
	font-size: 2em;
	margin-bottom: 0.333em;
}

#featured-section h3, #next-dates h3 {
	font-size: 1.429em; 
	margin-bottom: .5em;

	-moz-text-shadow: 0.1em 0.1em 0.05em #888;
	-webkit-text-shadow: 0.1em 0.1em 0.05em #888;
	text-shadow: 0.1em 0.1em 0.05em #888;	
}

#featured-section h3 a:link, #featured-section h3 a:visited, #next-dates h3 a:link, #next-dates h3 a:visited {color: #000305; text-decoration: none;}
#featured-section h3 a:hover, #featured-section h3 a:active, #next-dates h3 a:hover, #next-dates h3 a:active {color: #fff;}

#next-dates {
	width:20%;
	min-height: 252px;
	background: #fff;
	overflow: hidden;

	-moz-box-shadow: 0.2em 0.2em 0.1em #888;
	-webkit-box-shadow: 0.2em 0.2em 0.1em #888;
	box-shadow: 0.2em 0.2em 0.1em #888;	
}
/*
	Body
*****************/
#content {
	background: #fff;
	margin-top: 0;
	overflow: hidden;
	padding: 10px 10px;
	width: 97%;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	-moz-box-shadow: 0.2em 0.2em 0.1em #888;
	-webkit-box-shadow: 0.2em 0.2em 0.1em #888;
	box-shadow: 0.2em 0.2em 0.1em #888;	
}

.columns{
    float: left;
    width: 12em;
    margin: 0 0.8em;
    vertical-align: top;
}

/*.multicolumn{
	-moz-column-width: 12em;
	-moz-column-gap: 15px;
	-moz-column-rule: 1px solid #ccc;
	-webkit-column-width: 12em;
	-webkit-column-gap: 15px;
	-webkit-column-rule: 1px solid #ccc;
	// para que las columnas funcionen en opera y IE10
	column-width: 12em;
	column-gap: 15px;
}*/

/*.multicolumn h3 a:link, .multicolumn h3 a:visited {color: #000305; text-decoration: none;}
.multicolumn h3 a:hover, .multicolumn h3 a:active {color: #fff;}

.multicolumn h3 a {
	-moz-text-shadow: 0.1em 0.1em 0.05em #888;
	-webkit-text-shadow: 0.1em 0.1em 0.05em #888;
	text-shadow: 0.1em 0.1em 0.05em #888;
}*/
.adhesivo {
    background-color: #FFCC33;
	-moz-transform: rotate(-45deg) scale(1);
	-webkit-transform: rotate(-45deg) scale(1); 
    -o-transform: rotate(-45deg) scale(1); 
    -ms-transform: rotate(-45deg) scale(1);
    position: absolute;
    left: -10px;
    width: 7%;
    font-size: 0.8em;
    text-align: center;
}

.adhesivo-right {
    background-color: #FFCC33;
	-moz-transform: rotate(45deg) scale(1);
	-webkit-transform: rotate(45deg) scale(1); 
    -o-transform: rotate(45deg) scale(1); 
    -ms-transform: rotate(45deg) scale(1);
    position: absolute;
	right: 26%;
    width: 7%;
    font-size: 0.8em;
    text-align: center;
}

#lan-taldeak span {
	padding-left: 20px;
}
/*
	Extras
*****************/
#extras {
	margin: 0 auto 3em auto; 
	overflow: hidden;
	margin-left: 10px;
	padding: 10px 10px;
	width: 97%;
	background: -moz-linear-gradient(center top , #0250B1, #99CCFF) repeat scroll 0 0 transparent;
	/* TODO meterlo para chrome */
	color: #FFF;

}

#extras ul {list-style: none; margin: 0;}
/*#extras li {border-bottom: 1px solid #fff;}*/
#extras h2 {
	color: #C74A50;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #FFF;
	display: block;
	/*border-bottom: 1px solid #F4E3E3;*/
	text-decoration: none;
	padding: .3em .25em;
}

#extras li:last-child,
#extras li:last-child a {border: 0}

#extras .blogroll li:nth-last-child(2),
#extras .blogroll li:nth-last-child(3),
#extras .blogroll li:nth-last-child(2) a,
#extras .blogroll li:nth-last-child(3) a {border: 0;}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
	#extras .blogroll {
		padding-left: 20px;
		width: 40%;
		float:left;
	
	}
	
	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}
	
	/* Social */
	#extras .social {
		padding-left: 20px;
		width: 12%;
		float:left;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
		.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
		.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
		.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
		.social a[href*='/feed/'] {background-image: url('../images/icons/rss.png');}
		.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}

/* Aboutus */
#extras .aboutus {
	width: 42%;
	float: left;
}

/* copyleft */
#extras .copyleft {
	float:right;
	color:blue;
}
